@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Courgette&family=Kalam&family=Kaushan+Script&family=Lobster&family=Lobster+Two:ital@0;1&family=Oswald&family=Pathway+Gothic+One&family=Playball&family=Righteous&family=Roboto&family=Squada+One&family=Teko&family=Trade+Winds&family=Yanone+Kaffeesatz&family=Yellowtail&display=swap');
$allan: 'Allan', cursive;// Itallic Long
$anton: 'Anton', sans-serif;
$courgette: 'Courgette', cursive;
$kallam: 'Kalam', cursive;
$kaushan: 'Kaushan Script', cursive;
$lobster: 'Lobster', cursive;
$lobserTwo: 'Lobster Two', cursive;
$ostwald: 'Oswald', sans-serif;
$Pathway: 'Pathway Gothic One', sans-serif;
$playball: 'Playball', cursive;
$righteous: 'Righteous', cursive;
$roboto: 'Roboto', sans-serif;
$squada: 'Squada One', cursive;
$teko: 'Teko', sans-serif;
$tradeWinds: 'Trade Winds', cursive;
$yanone: 'Yanone Kaffeesatz', sans-serif;
$yellow: 'Yellowtail', cursive;
$color: #FD676D;
//Basic Formating
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: rgb(215, 221, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
    width: 0;
}
//  Main Divisions
.main{
    height: 80vh;
    width: 80vw;
    background: rgb(215, 221, 230);
    border-radius: 20px;
    box-shadow: -15px -15px 35px #fff,
                15px 5px 40px#000;
    overflow: hidden;
    
    .head{
        text-align: center;
        color: $color;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
        font-family: $yanone;
        // background: red;
        overflow: hidden;
        position: relative;

        .check{
            position: absolute;
            right: 20px;
            top: 15px;
            appearance: none;
            border: none;
            outline: none;
            transition: 0.3s all linear;
            width: 65px;
            height: 30px;
            // background: blue;
            border-radius: 25px;
            box-shadow: -3px -3px 5px #fff,
                            3px 3px 10px#000;

            cursor: pointer;

            &::before{
                content: "";
                position: absolute;
                top: -2px;
                left: -5px;
                height: 35px;
                width: 35px;
                background: rgb(3, 30, 53);
                border-radius: 50%;
                box-shadow: -3px -3px 5px #fff,
                3px 3px 10px#000;
                transition: 0.3s all linear;
            }
            
            &:checked{
                background: rgb(3, 30, 53);
                &::before{
                    background:  rgb(215, 221, 230);
                    top: -4px;
                    left: 40px;
                }
            }

        }
    }
}

.contents{
    height: 100%;
    width: 100%;
    display: flex;

    .suggestions{
        height: 100%;
        max-height: 460px;
        overflow: hidden;
        overflow-y: scroll;
        padding-left: 20px;

        div{
            padding: 10px;
            width: 300px;
            height: 260px;
            cursor: pointer;

            &:hover{
                .title{
                    color: $color;
                }

                .thumbs{
                    img{
                        transform: scale(1.1);
                    }
                }
            }

            .thumbs{
                height: 200px;
                padding: 0;
                overflow: hidden;
                img{
                    transition: 0.6s all linear;
                    height: 100%;
                    width: 100%;
                }
            }

            .title{
                height: 60px;
                padding: 10px 0;
                font-weight: bold;
                font-family: $roboto;
                font-size: 13px;
                transition: 0.3s;
            }
        }
    }
    
    .video-wrapper{
        flex: 2;
        width: 500px;
        display: block;
        padding: 10px 30px 30px 40px;

        .inner-wrapper{
            padding: 15px 15px 20px 15px;
            border-radius: 20px;
            box-shadow: -15px -15px 35px #fff,
                            15px 5px 35px#000;

            .title{
                padding: 10px 10px;
                color: black;
                font-family: $roboto;
                font-size: 15px;
                font-weight: bold;
            }
        }

        .heading{
            width: 100%;
            padding: 0px 0px 10px 0px;
            display: flex;
            span{
                display: block;
                height: 30px;
                width: 5px;
                background: $color;
            }

            p{
                color: white;
                font-family: $roboto;
                font-size: 18px;
                padding-left: 5px;
                height: 100%;
                line-height: 30px;
            }
        }

        .video{
            width: 100%;
            height: 280px;
            padding: 10px;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
    
    .info-panel{
        flex: 1;
        width: 100%;
        padding: 40px 20px;

        .subs,.views,.engage{
            width: 100%;
            height: 100px;
            margin: 20px 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: -10px -10px 20px #fff,
            10px 5px 15px#000;
            cursor: pointer;

            .icon{
                font-size: 35px;
                color: $color;
            }

            .number{
                font-family: $roboto;
                font-size: 14px;
            }

            .format{
                color: #ee3d43;
                font-weight: bold;
                font-family: $roboto;
            }
        }
        
    }
}

.dark{
    background: #000;
}

body.dark{
    *{
        filter: invert(10);
    }
    img{
        filter: invert(10);
    }
}